/* src/components/AboutHero.css */
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(200%) rotate(45deg);
  }
}

.group-hover\:animate-shine {
  animation: shine 1s ease-in-out forwards;
}
